
#mainTable{
    border-collapse: collapse;
}

#mainTable th, td{
    border: #c1c1c1 solid 1px;
    padding: 6px;
    text-align: center;
}

.user-details{
    display: none;
}

.sortable{
    cursor: pointer;
}

#table-body tr:not(#statistics):hover{
    background-color: rgba(246, 246, 246, 1);
}